* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;

}
p {
  text-align: center;
  font-size: 100px;
}
th,tr {
    width: 100px;
  height: 230px;
  border: 1px solid black;
}
table {
  width: 50%;
  height: 70%;
  border: 1px solid black;
  border-collapse: collapse;
  position: absolute;
  right: 25%;
}

.replay{display: none;
padding: 20px;
font-size: 20px;
position: absolute;
right: 45%;
bottom: 50%;}



.score{
  display: flex;
  position: absolute;
  bottom: 0px;
}
.score h5{
  border: solid 2px rgb(114, 201, 106);
  font-size: 60px;
  background-color: rgba(127, 255, 212, 0.644);
  padding: 10px;
}
.big{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column}
.cont{
  display: flex;
  flex-wrap: wrap;
  width:60vh;
  height: 60vh;

}
.cont button{
  width: 20vh;
  height: 20vh;
  background-color: #dad3d39c;
}