<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"></script>
    <title>tic tak</title>
  </head>
  <body>
   

    <div class="big">
       <h2 class="turn">it's your turn mr X</h2>
    <br />
      <div class="cont">
        <button id="1"></button>
        <button id="2"></button>
        <button id="3"></button>
        <button id="4"></button>
        <button id="5"></button>
        <button id="6"></button>
        <button id="7"></button>
        <button id="8"></button>
        <button id="9"></button>
      </div>
    </div>
    <button class="replay">replay</button>
    <div class="score">
      <h5>0</h5>
      <h5>0</h5>
    </div>
    <script defer src="js.js"></script>
  </body>
</html>
